@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pujcovna Filmu</h1>
    <p class="lead">ASP.NET MVC 5 aplikace vytvorena jako soucast projektu do predmetu VIS v akademickem roce 2016/2017</p>
    <p><a href="@Url.Action("Index", "Films")" class="btn btn-primary btn-sm">Browse Films &raquo;</a></p>
</div>