<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IFilmZanrService" />
        <binding name="BasicHttpBinding_IRecenzeService" />
        <binding name="BasicHttpBinding_IFilmService" />
        <binding name="BasicHttpBinding_IObjednavkaService" />
        <binding name="BasicHttpBinding_IZakaznikService" />
        <binding name="BasicHttpBinding_IZanrService" />
        <binding name="BasicHttpBinding_IOsobaService" />
        <binding name="BasicHttpBinding_IOsZamFilmService" />
        <binding name="BasicHttpBinding_IFrontaService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55758/ServiceDir/FilmZanrService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilmZanrService"
          contract="FilmZanrReference.IFilmZanrService" name="BasicHttpBinding_IFilmZanrService" />
      <endpoint address="http://localhost:55758/ServiceDir/RecenzeService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecenzeService"
          contract="RecenzeReference.IRecenzeService" name="BasicHttpBinding_IRecenzeService" />
      <endpoint address="http://localhost:55758/ServiceDir/FilmService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilmService"
          contract="FilmReference.IFilmService" name="BasicHttpBinding_IFilmService" />
      <endpoint address="http://localhost:55758/ServiceDir/ObjednavkaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IObjednavkaService"
          contract="ObjednavkaReference.IObjednavkaService" name="BasicHttpBinding_IObjednavkaService" />
      <endpoint address="http://localhost:55758/ServiceDir/ZakaznikService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZakaznikService"
          contract="ZakaznikReference.IZakaznikService" name="BasicHttpBinding_IZakaznikService" />
      <endpoint address="http://localhost:55758/ServiceDir/ZanrService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZanrService"
          contract="ZanrReference.IZanrService" name="BasicHttpBinding_IZanrService" />
      <endpoint address="http://localhost:55758/ServiceDir/OsobaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOsobaService"
          contract="OsobaReference.IOsobaService" name="BasicHttpBinding_IOsobaService" />
      <endpoint address="http://localhost:55758/ServiceDir/OsZamFilmService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOsZamFilmService"
          contract="OsZamServiceReference.IOsZamFilmService" name="BasicHttpBinding_IOsZamFilmService" />
      <endpoint address="http://localhost:55758/ServiceDir/FrontaService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFrontaService"
          contract="FrontaReference.IFrontaService" name="BasicHttpBinding_IFrontaService" />
    </client>
  </system.serviceModel>
</configuration>