<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFilmZanrService" />
                <binding name="BasicHttpBinding_IRecenzeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:55758/ServiceDir/FilmZanrService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFilmZanrService"
                contract="FilmZanrReference.IFilmZanrService" name="BasicHttpBinding_IFilmZanrService" />
            <endpoint address="http://localhost:55758/ServiceDir/RecenzeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecenzeService"
                contract="RecenzeReference.IRecenzeService" name="BasicHttpBinding_IRecenzeService" />
        </client>
    </system.serviceModel>
</configuration>